  <!-- Data table starts here -->
  <div class="row">
      <div class="col-md-12">
        <card cardTitle="">
            <div fxLayout="row" fxLayoutAlign="space-around center">

                  <button mat-raised-button (click)="calfhealth()" mat-raised-button color="primary"  >Calf  Mortality records</button>
                  <button mat-raised-button (click)="cowHealth()" mat-raised-button color="primary"  >Cow Mortality Records</button>
              </div>



            <section class="searchSection" >
                <p *ngIf="!dataSource.data.length > 0">No records available </p>
               
                <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="dataSource.data.length > 0">      
  
                    <mat-form-field fxFlex="20%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>                    
              </div>

            </section> <!-- End search section -->
  
  
            <section class='tableSection' [hidden]='isLoading'  *ngIf="isCow && dataSource.data.length > 0">                
  
                <mat-table class="matTable" [dataSource]="dataSource" matSort >
        
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
                        <td mat-cell *matCellDef="let row; let i = index;">{{i+1}} </td>            
                      </ng-container>        
             
                     <ng-container matColumnDef="cowtag" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cow Tag </th>
                        <td mat-cell *matCellDef="let element"> {{element.cattle.cowTag}} </td>
                      </ng-container>  
                      
                      <!-- <ng-container matColumnDef="calfTag" *ngIf="isCalf">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Calf Tag </th>
                          <td mat-cell *matCellDef="let element"> {{element.calf.calfId}} </td>
                        </ng-container>   -->
                     
            
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date }} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="postMortemreport">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Post Mortem Report </th>
                          <td mat-cell *matCellDef="let element"> {{element.postMortemreport}} </td>
                        </ng-container>

                        <ng-container matColumnDef="findings">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Findings </th>
                            <td mat-cell *matCellDef="let element"> {{element.findings}} </td>
                          </ng-container>                         
          
                      
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>          
            </mat-table>
  
            <mat-paginator #paginator
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]">
           </mat-paginator>
        </section> 

        <section class="searchSection" >
            <p *ngIf="!dataSource.data.length > 0">No records available </p>
           
            <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="dataSource.data.length > 0">      

                <mat-form-field fxFlex="20%">
                    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>                    
          </div>

        </section> <!-- End search section -->


        <section class='tableSection' [hidden]='isLoading' *ngIf="isCalf && dataSource.data.length > 0" >                

            <mat-table class="matTable" [dataSource]="dataSource" matSort >
    
                <ng-container matColumnDef="No">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
                    <td mat-cell *matCellDef="let row; let i = index;">{{i+1}} </td>            
                  </ng-container>        
         
                 <!-- <ng-container matColumnDef="cowtag" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cow Tag </th>
                    <td mat-cell *matCellDef="let element"> {{element.cattle.cowTag}} </td>
                  </ng-container>   -->
                  
                  <ng-container matColumnDef="calfTag" *ngIf="isCalf">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Calf Tag </th>
                      <td mat-cell *matCellDef="let element"> {{element.calf.calfId}} </td>
                    </ng-container>  
                 
        
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date }} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="postMortemreport">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Post Mortem Report </th>
                      <td mat-cell *matCellDef="let element"> {{element.postMortemreport}} </td>
                    </ng-container>

                    <ng-container matColumnDef="findings">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Findings </th>
                        <td mat-cell *matCellDef="let element"> {{element.findings}} </td>
                      </ng-container>                         
      
                  
                  <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumn;"></mat-row>          
        </mat-table>

        <mat-paginator #paginator
        [pageIndex]="0"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]">
       </mat-paginator>
    </section>

  
        
        </card>
      </div>
    </div>
