<div class="row">
  <div class="col-md-4">
    <profile></profile>
  </div>
  <div class="col-md-8">
    <div class="row card card-block">
        <form [formGroup]="profile"  autocomplete="off">
         <div class="col-md-6 form-group">   
          <label class="control-label">Full Name</label>
          <input matInput type="text" class="form-control" id="name" [disabled]
                             formControlName="name" placeholder="Fredrick Aponyo" />
        </div>

        <div class="col-md-6 form-group">
          <label class="control-label">Email address</label>
          <input matInput type="text" class="form-control" id="email" [disabled]
                             formControlName="email" placeholder="fraponyo@gmail.com"/>
          </div>

        <div class="col-md-4 form-group">
          <label class="control-label">Phone Number</label>
         <input matInput type="text" class="form-control" id="phoneNumber" [disabled]
                             formControlName="phoneNumber" placeholder="0722718231"/>   
      </div>

     </form>

  </div>
</div>
