<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <img src="{{avatarImgSrc}}" alt="avatar">
      </div>
      <span class="user-name">{{userName}}</span>
      <span class="user-post">{{userPost}}</span>
      <span class="map-location">
        <i class="fa fa-map-marker"></i>
        <span>Egerton</span>
      </span>
    </div>
    <div class="profile-head">
      <img src="{{avatarImgSrc}}" alt="profile-head-bg" class="profile-head-bg">
    </div>
    <div class="profile-foot">
      <h4>Account</h4>
      <div class="skills-wrap">
        <a href="#" class="skills-tag">Chnage Password</a>
        <a href="#" class="skills-tag">Account Details</a>
        <a href="#" class="skills-tag">System Help</a>        
     
      </div>
      
    </div>
  </div>
</div>
