 <div class="row">
      <div class="col-md-12">
        <!--  -->
        <card cardTitle="Available Milking Records">

          <section class="searchSection" >
              <p *ngIf="!milkDataSource.data.length > 0">No records available</p>           
                   
                <section class="searchSection" >
                
                  <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="milkDataSource.data.length > 0">      
    
                      <mat-form-field fxFlex="20%">
                          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field> 
                      
                      <span>
                        Export to pdf:
                       <a (click)="downloadReport()" target="_blank">
                          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                       </a>
                      
                    </span>
                </div>
  
              </section> <!-- End search section -->
    
                 
          </section> <!-- End search section -->


          <section class='tableSection' [hidden]='isLoading' *ngIf="milkDataSource.data.length > 0">

              <mat-table class="matTable" [dataSource]="milkDataSource" matSort class="mat-cell" >
      
                  <ng-container matColumnDef="No">
                      <mat-header-cell *matHeaderCellDef> No </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index;">{{i+1}}</mat-cell>         
                  </ng-container>
              
                  <ng-container matColumnDef="Date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                  </ng-container>
              
              
                  <ng-container matColumnDef="cow">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cow Tag </mat-header-cell>
                    <mat-cell  *matCellDef="let row"> {{row.cow.cowTag}} </mat-cell>
                  </ng-container>  
              
                    <ng-container matColumnDef="first">
                        <mat-header-cell *matHeaderCellDef> First Milking( Litres )</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.firstMilking}} </mat-cell> 
                    </ng-container>
                    
                    <ng-container matColumnDef="second">
                        <mat-header-cell *matHeaderCellDef> Second Milking( Litres )</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.secondMilking}} </mat-cell> 
                    </ng-container>

                    <ng-container matColumnDef="other">
                        <mat-header-cell *matHeaderCellDef> Final Milking( Litres )</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.otherMilking}} </mat-cell> 
                    </ng-container>
                    
                    <ng-container matColumnDef="remarks">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
                        <mat-cell *matCellDef="let row">  {{row.remarks}} </mat-cell> 
                    </ng-container>  

                    <ng-container matColumnDef="option">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;">
                            <button mat-icon-button color="accent" (click)="editRecord(row.id)">
                              <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                            </mat-cell>
                    </ng-container>
                    
                    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>          
          </mat-table>

          <mat-paginator #paginator
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 25, 100]">
         </mat-paginator>
          </section>
           
        </card>
      </div>
    </div>
    
  
  