<div class="pages-top mat-elevation-z8" *ngIf="router.url != '/dairy/login || /dairy/login?returnUrl=*'" >
  <div class="avatar-wrap">
    <div class="avatar">
      <img src="{{avatarImgSrc}}" alt="avatar">
    </div>
    <div class="user-info-wrap">
      <span class="user-name" title="{{userName}}">{{userName}}</span>
      <span class="user-post" title="{{userPost}}">{{userPost}}</span>
    </div>
  </div>

  <div class="collapse-menu" (click)="_sidebarToggle()">
  
    <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
    <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
  </div>

  <div class="search-group">   

    <div class='search-btn'>     
      <button type="button" class="btn btn-danger btn-rounded" (click)="logOut()" color="primary">Log Out</button>
    </div>

    </div>
    

   

  

</div>
