

  <!-- Data table starts here -->
  <div class="row">
      <div class="col-md-12">
        <card cardTitle="">
            <div fxLayout="row" fxLayoutAlign="space-around center">

                <span>
                     Reload Records:
                    <button mat-icon-button (click)="getAllBreedingHistory ()">
                      <mat-icon>refresh</mat-icon>
                    </button>                   
                 </span>
                
                  
              </div>

            <section class="searchSection" >
                <p *ngIf="!dataSource.data.length > 0">No breeding records available </p>
               
                <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="dataSource.data.length > 0">      
  
                    <mat-form-field fxFlex="20%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter by any Column Value">
                    </mat-form-field>   
                    
                    <span>
                        Export to pdf:
                       <a (click)="downloadReport()" target="_blank">
                          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                       </a>
                      
                    </span> 
              </div>

            </section> <!-- End search section -->
  
  
            <section class='tableSection' [hidden]="isLoading"  *ngIf="dataSource.data.length > 0">
  
  
                <mat-table  #table class="matTable" [dataSource]="dataSource" matSort class="mat-cell" >
        
                    <ng-container matColumnDef="No">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> No </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index;">{{i+1}} </mat-cell>            
                      </ng-container>        
             
                     <ng-container matColumnDef="cowtag">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Cow Tag </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.cow.cowTag}} </mat-cell>
                      </ng-container>         
                     
            
                      <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Breeding </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.date }} </mat-cell>
                      </ng-container>
                      
                      <ng-container matColumnDef="dueDate">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.dueDate}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="reproductiveCondition">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Reproductive Condition </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.reproductiveCondition}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="methodOfInsemination">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Method of Insemination </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.methodOfInsemination}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="reproductiveTreatment">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Treatment offered </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.reproductiveTreatment}} </mat-cell>
                            </ng-container>        
                      
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>          
            </mat-table>
  
            <mat-paginator #paginator
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]">
           </mat-paginator>
        </section>

  
        
        </card>
      </div>
    </div>