

  <!-- Data table starts here -->
  <div class="row">
      <div class="col-md-12">
        <card cardTitle="Breeding Records">



            <section class="searchSection" >
                <p>No records available</p>
               
                <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="dataSource?.length">      
  
                    <mat-form-field fxFlex="20%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>                    
              </div>

            </section> <!-- End search section -->
  
  
            <section class='tableSection' *ngIf="dataSource?.length"  >
  
  
                <mat-table class="matTable" [dataSource]="dataSource" >
        
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
                        <td mat-cell *matCellDef="let row; let i = dataIndex;">{{i}} </td>            
                      </ng-container>        
             
                     <ng-container matColumnDef="cowtag">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cow Tag </th>
                        <td mat-cell *matCellDef="let element"> {{element.cow[0].cowTag}} </td>
                      </ng-container>         
                     
            
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Breeding </th>
                        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="dueDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
                          <td mat-cell *matCellDef="let element"> {{element.dueDate | date}} </td>
                        </ng-container>
          
                      
                      
                    
                      <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef> calfs </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button color="primary" (click)="redirectToDetails(element.cowTag[0].cowTag)">
                              <mat-icon class="mat-18">reorder</mat-icon>
                          </button>
                        </td>
                      </ng-container>
                    
                      <ng-container matColumnDef="update">
                          <th mat-header-cell *matHeaderCellDef> Update </th>
                          <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="redirectToUpdate(element.cowTag[0].cowTag)">
                                <mat-icon class="mat-18">system_update</mat-icon>
                            </button>
                          </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef> Delete </th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-icon-button color="warn" (click)="redirectToDelete(element.cowTag[0].cowTag)">
                                  <mat-icon class="mat-18">delete</mat-icon>
                              </button>
                            </td>
                          </ng-container>
                
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>          
            </mat-table>
  
            <mat-paginator #paginator
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]">
           </mat-paginator>
        </section>

  
        
        </card>
      </div>
    </div>