
<div class="row">
    <div class="col-md-12">
            <card cardTitle="Employee Records">                  

                    <div fxLayout="row" fxLayoutAlign="space-around center">

                      <span *ngIf="dataSource?.length">
                          <button class='button' mat-raised-button (click)="getAllRecords()">
                            Get all Employees</button>

                          <button mat-raised-button (click)="getAllSelected()">Show Selected</button>
                       </span>
                      
                        <button mat-raised-button (click)="addRecord()" mat-raised-button color="primary"  >Add</button>
                    </div>

                    
                  <section class="searchSection" >
                      <p>No records available</p>
                     
                      <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="dataSource.data.length > 0">       

                        <!-- Name query. -->
                              <mat-form-field id="searchField">
                                <input matInput (keyup)="searchTerm$.next($event.target.value)" placeholder="Search by name">
                                  <mat-hint align="center">Enter Employee name </mat-hint>
                              </mat-form-field>
                    </div>
                  </section> <!-- End search section -->


                  <section class='tableSection' *ngIf="dataSource.data.length > 0" >
                    
                      <mat-table class="matTable" [dataSource]="dataSource">

                      <ng-container matColumnDef="select">
                          <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                              <mat-checkbox (click)="selectMember(row.employeeId)"></mat-checkbox>
                          </mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                      </ng-container>


                      <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>Email Address  </mat-header-cell>
                        <mat-cell  *matCellDef="let row">  {{row.email}} </mat-cell>
                      </ng-container>


                        <ng-container matColumnDef="phone">
                            <mat-header-cell *matHeaderCellDef> Phone Number</mat-header-cell>
                            <mat-cell *matCellDef="let row">  {{row.phoneNumber}} </mat-cell>
                        </ng-container>

                       

                        <ng-container matColumnDef="options">
                            <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="options-button">
                                <button mat-raised-button color="accent" (click)="editRecord(row.employeeId)">Edit</button>
                                <button mat-raised-button color="warn" (click)="deleteRecord(row.employeeId)">Delete</button>              
                            
                            </mat-cell>
                          </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                      </mat-table>

                      <mat-paginator #paginator
                                    [pageIndex]="0"
                                    [pageSize]="5"
                                    [pageSizeOptions]="[5, 10, 25, 100]">
                      </mat-paginator>
                  </section>
                </card>
              </div>
            </div>

