<div class="row">
  <div class="col-md-12">
          <card cardTitle="Add Cow Medication Record" >

                <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="!(cattles | async)?.length > 0"  >       
                    <p>No cow records  found,ensure the records are added to the system before proceeding</p>  
                </div>

                  <form [formGroup]="cattleHealthForm"  (ngSubmit)="onSubmit()"  autocomplete="off"  class="my-3 border  p-3 ml-auto mr-auto" fxFlex="80%" fxFlex.xs="100%" *ngIf="(cattles | async)?.length > 0"   >                         

                      <div class="input-row" fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap.lt-md="0px"> 
                          <mat-form-field fxFlex  appearance="outline" formGroupName="cowhealth"  class="m-auto pr-1" >
                              <mat-label>select cow</mat-label>
                              <mat-select  placeholder="---Select one---" type="text" id="cowTag"
                              formControlName="cowTag" required  >                              
                                      <mat-option *ngFor="let option of cattles | async" [value]="option.cowTag">
                                      {{option.cowTag}}
                                      </mat-option>                            
                              </mat-select>
                          </mat-form-field> 
          
                          <mat-form-field fxFlex appearance="outline" id="date" class="m-auto pl-1" > 
                              <mat-label>Date of Treatment</mat-label>
                              <input matInput [matDatepicker]="picker" [max]="maxDate"  placeholder="Select Date of treatment"  formControlName="date" id="date"
                                readonly (click)="picker.open()">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                              
                          </mat-form-field>
                      </div> 


                      <div class="input-row" fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap.lt-md="0px">
                        
                        <mat-form-field fxFlex  class="w-100 m-auto" appearance="outline" class="m-auto pr-1" >                             
                            <mat-label>Brief Health History </mat-label>
                            <textarea matInput   class="inputField" type="text" id="history"
                                formControlName="history"  placeholder="Enter Brief Health History of the animal"   >
                                </textarea>
                            </mat-form-field> 
                        

                          
                        <mat-form-field fxFlex class="w-100 m-auto"  appearance="outline" class="m-auto pl-1">
                            <mat-label>Animal symptoms </mat-label>
                            <textarea matInput   class="inputField" type="text" id="symptoms"
                                formControlName="symptoms"  placeholder="Enter Symptoms identified"   >
                            </textarea>
                        </mat-form-field>
                          

                      </div>


                      <div class="input-row" fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap.lt-md="0px">
                         
                              <mat-form-field fxFlex class="w-100 m-auto"  appearance="outline" class="m-auto pr-1">
                                  <mat-label>Treatment Administered </mat-label>
                                  <textarea matInput   class="inputField" type="text" id="treatment"
                                      formControlName="treatment"  placeholder="Describe treatment administered"   >
                                    </textarea>
                              </mat-form-field>
                         
                              <mat-form-field fxFlex class="w-100 m-auto"  appearance="outline" class="m-auto pl-1">
                                  <mat-label>Name of the Veterinary Doctor</mat-label>
                                  <input matInput   class="inputField" type="text" id="nameOfveterinaryDoctorr"
                                      formControlName="nameOfveterinaryDoctor"  placeholder="Enter name of Veterinary Doctor"  />  
                              </mat-form-field>
                          
                        </div>

                        
                      <div class="input-row" fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap.lt-md="0px">
                         
                              <mat-form-field fxFlex class="w-100 m-auto"  appearance="outline" class="m-auto pr-1">
                                  <mat-label>Contact of veterinary Doctor</mat-label>
                                  <input matInput   class="inputField" type="number" id="contactofVeterinaryDoctor"
                                      formControlName="contactofVeterinaryDoctor"  placeholder="Enter email/phone number"  />                                      
                                    
                              </mat-form-field>
                         
                              <mat-form-field fxFlex class="w-100 m-auto"  appearance="outline"  class="m-auto pl-1">
                                  <mat-label>Remarks</mat-label>
                                  <input matInput   class="inputField" type="text" id="remarks"
                                      formControlName="remarks"  placeholder="Optional remarks"  />
                                  
                              </mat-form-field>
                       
                        </div>
  
                      
                      <!-- Submit Button -->
                      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
                          <button mat-raised-button color="primary" [disabled]="!cattleHealthForm.valid">ADD Medication Record</button>
                          <button mat-raised-button color="primary" (click)="reset()">Cancel</button>
                          
                          </div>
                      </form>         
          </card>
      </div>
  </div>
    
    
       
      
      
      
       
       
       
      
      
      
   
  
  
  
   
  
  
  